
<h1>Login</h1>
<div class="container">

    name: <input type="text" name="username" [(ngModel)]="username">
    Password: <input type="password" name="password" [(ngModel)]="password">
    <button type="button" class="btn btn-success" (click)=handleLogin()>Submit</button>
</div>

<div class="alert alert-warning" *ngIf='loginFail'>{{errorMsg}}</div>
