<div class="container">
  <h1>Hi Buddy! Here are your todo's:</h1>
    <table class="table">
        <caption>Shubham's Todos</caption>
        <thead>
          <tr >
            <th>Id</th>
            <th>description</th>
            <th>Is Done?</th>
            <th>Target date</th>
      
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos" >
                <td>{{todo.id}}</td>
                <td>{{todo.description | uppercase}}</td>
                <td>{{todo.isDone}}</td>
                <td>{{todo.targetDate | date}}</td>
      
              </tr>
        </tbody>
      </table>
</div>