<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="https://bitbucket.org/shubhkush1234/fullstack-todo/src/master/todo-fullstack/"class="navbar-brand">
      Shubham'sRepoLink</a>
    </div>

    <ul class="navbar-nav">
      <li> <a *ngIf="this.hardcodedAuthServiceService.isUserLoggedIn()" routerLink="/welcome/shubham" class="nav-link">Home</a></li>
      <li> <a *ngIf="this.hardcodedAuthServiceService.isUserLoggedIn()" routerLink="/todos" class="nav-link">Todos</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
        <li> <a *ngIf="!this.hardcodedAuthServiceService.isUserLoggedIn()" routerLink="/login" class="nav-link">login</a></li>
        <li> <a *ngIf="this.hardcodedAuthServiceService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
  </nav>
</header>